# Challenge 2 - Develop a Workflow with Artifacts

name: Challenge 2

on: push

env:
  ARTIFACT_NAME: trump

jobs:
    job1:
        name: Job 1
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v3
        - name: Upload Artifact
          uses: actions/upload-artifact@v3
          with:
            name: Artifact
            path: ./${{env.ARTIFACT_NAME}}